[*.cs]

dotnet_diagnostic.IDE0060.severity = silent
dotnet_diagnostic.IDE0290.severity = silent

csharp_style_namespace_declarations = file_scoped

dotnet_diagnostic.RS1032.severity = silent
dotnet_diagnostic.RS2008.severity = silent